*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 768px;
    position: relative;
}

.logo img{
    height: 80px
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: white;
    box-shadow: 2ox 2px 20px rgba(225, 151, 103, 0.164);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 18px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #111111;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover{
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    box-shadow: 5px 10px 20px rgba(219,74,6,0.5);
}

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    width: 90%; 
}

.header-image{
    width: 500px;
    height: 400px;
    margin: 20px;
}

.header-image img{
    padding-top: 20%;
    object-fit: contain;
    object-position: center;
}

.header-text{
    padding-top: 25%;
    width: 500px;
    margin: 20px;
}

.header-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #222222;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.header-text p{
    font-size: 1rem;
    color: #777777;
}

.header-text span {
    color: #ff0000;
    text-decoration: underline;
}

.admintion{
    background-size: 1000px;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.admintion h2{
    line-height: 55px;
    font-size: 2.2rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}

.admintion .want-a-admintion p{
    font-size: 1rem;
    color: #777777;
}

.gmap {
    font-size: 20px;
}

#admintion hr{
    margin-bottom: 60px;
}

#photo{
    margin-top: -150px;
}


.photo-gallery{
    margin-top: 70px;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.photo-gallery h2{
    line-height: 55px;
    font-size: 2.2rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}

.photo-gallery .gallery p{
    font-size: 1rem;
    color: #585858;
}

.slogen2{
    width: 100%;
    height: 768px;
    position: relative;
}

.slogen-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    width: 90%;   
}

.slogen-img{
    width: 500px;
    height: 400px;
    margin: 20px;
}

.slogen-img img{
    padding-top: 30%;
    object-fit: contain;
    object-position: center;
}

.slogen-text{
    padding-top: 25%;
    width: 500px;
    margin: 20px;
}

.slogen-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #222222;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.slogen-text p{
    font-size: 1rem;
    color: #777777;
}

.slogen-text span {
    color: #ff0000;
    text-decoration: underline;
}

.hello{
    margin-top: 50px;
}

#sd{
    margin-top: -150px;
}

.slogen3{
    width: 100%;
    height: 768px;
    position: relative;
}

.slogen3-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    width: 90%;   
}

.slogen3-img{
    width: 400px;
    height: 400px;
    margin: 20px;
}

.slogen3-img img{
    width: 500px;
    padding-top: 50%;
    object-fit: contain;
    object-position: center;
}

.slogen3-text{
    padding-top: 25%;
    width: 500px;
    margin: 20px;
}

.slogen3-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #222222;
    letter-spacing: 1px;
    font-weight: 700;
}

.slogen3-text p{
    font-size: 1rem;
    color: #777777;
}

.slogen3-text span {
    color: #ff0000;
    text-decoration: underline;
}

.sd{
    margin-top: 70px;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.photo-gallery h2{
    line-height: 55px;
    font-size: 2.2rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}

.photo-gallery .gallery p{
    font-size: 1rem;
    color: #585858;
}

.slogen4{
    width: 100%;
    height: 768px;
    position: relative;
}

.slogen4-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    width: 90%;   
}

.slogen4-img{
    width: 500px;
    height: 400px;
    margin: 20px;
}

.slogen4-img img{
    width: 500px;
    padding-top: 20%;
    object-fit: contain;
    object-position: center;
}

.slogen4-text{
    padding-top: 25%;
    width: 500px;
    margin: 20px;
}

.slogen4-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #222222;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.slogen4-text p{
    font-size: 1rem;
    color: #777777;
}

.slogen4-text span {
    color: #ff0000;
    text-decoration: underline;
}
    
.note h2{
    margin-top: 70px;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 55px;
    font-size: 2.2rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}

.note .notee p{
    margin-left: 35px;
    font-size: 1rem;
    color: #585858;
}

footer{
    position: absolute;
    background: #111;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    align-items: center;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}


.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.gmap{
    color: rgb(112, 1, 112);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 20px;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
      text-align: left;
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }

  .wrapper .button:nth-child(1):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #000000;
  }
  